body{
    text-align: center;
    background: #EFFBF8;

}
h1{
    color: red;
}

#text{
    background-color: red;
    border: white;
    border-width: 100px;
    border-style: outset;
    color: white;
}